/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* color variables */
	--main-color: #fdf4e2;
	--main-bg-color: #F9E0AE;
	--main-font-color: #F9E0AE;
	--main-link-font-color: #682C0E;

	/* font variables */
	--main-font-family: 'Quicksand', sans-serif;
}

body {
	font-family: 'Quicksand';
	color: var(--main-font-color);
	background-color: var(--main-bg-color);
	padding: 10px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10px;
}

h1 {
	font-size: 36px;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 20px;
}

main {
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 15px;
}

main form input {
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	width: 100%;
}

main ul {
	columns: 20rem;
	column-gap: 0;
}

main li { 
	margin: 10px;
	list-style: none;
}

main img {
	width: 100%;
}

main .details {
	display: flex;
	flex-direction: column;
	align-items: center;
}

main button {
	padding: 10px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	background-color: var(--main-bg-color);
	color: white;
	font-size: 16px;
}

div.loading.flex {
	display: flex;
}

.loading {
	display: none;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: white;
	justify-content: center;
	align-items: center;
	top: 0;
	z-index: 9999;
}
	
	.loading img {
		width: 100px;
		height: 100px;
		animation: loadingHover 2s linear infinite;
	}

	.loading p {
		font-size: 2em;
		color: #646cff;
		animation: loadingHover 2s linear infinite;
	}

	@keyframes loadingHover {
		0% {
			transform: translateY(0);
			opacity: 1;
		  }
		  50% {
			transform: translateY(-20px);
			opacity: 0.7;
		  }
		  100% {
			transform: translateY(0);
			opacity: 1;
		  }
	}


