/* google font */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Quicksand';
	color: blueviolet;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 20px;
}